
* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background : #ffffda;
  }
  
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #555a72;
    text-align: center;
    margin: 8rem auto;
    border-radius: 2rem;
    padding-bottom: 2rem;
  }
  
  .todo-app > h1 {
    margin: 2rem 0 1rem 0;
    color: #fff;
    font-size: 2rem;
  }
  
  .todo-app > h2 {
    margin: 0 0 2rem 0;
    color: #fff;
    font-size: 1rem;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
  }
  
  .todo-input {
    padding : 1.5rem 1rem 1.5rem 1.5rem;
    border : 2px solid #fbabff;
    outline: none;
    width: 60%;
    background: transparent;
    color : #fff;
  }
  
  .todo-input::placeholder {
    color : #e2e2e2;
  }
  
  .todo-button {
    padding: 1.5rem;
    border: 2px solid #fbabff;
    border-radius: 0 0.5rem 0.5rem 0;
    outline: none;
    background: linear-gradient(
      90deg,
      #fbabff 0%,
      #f991fe 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: none;
    border-bottom: none !important;
    padding: 0;
    font-size: 1rem;
  }

  .edit {
    border-bottom: 2px solid rgba(17, 122, 255, 1) !important;
  }

  .wrapper-todo {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;
    border: none;
    border-bottom: 2px solid rgba(255, 118, 20, 1);
    padding: 1rem;
    width: 80%;
    color: #fff;
  }
  
  .todo-row:nth-child(4n + 1) {
    border-bottom: 2px solid rgb(166, 121, 255);
  }
  
  .todo-row:nth-child(4n + 2) {
    border-bottom: 2px solid rgba(250, 0, 135, 1);
  }
  
  .todo-row:nth-child(4n + 3) {
    border-bottom: 2px solid rgb(223, 255, 17);
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .delete-icon {
    color: #fff;
  }
  
  .edit-icon{
    margin-right: 1rem;
    color: #fff;
  }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem;
  }
  
  footer > img {
    width: 20px;
    margin-right: 5px;
  }